
body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.grid-container {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  justify-self: center;
}

.button button {
  border: solid 1px green;
  background-color: green;
  border-radius: 40px;
  width: 80px;
  height: 40px;
  margin: 10px;
}

.button button:hover {
  background-color: rgb(161, 212, 161);
}

.button button:active{
  outline: hidden;
}